{% extends "base.html" %}
{% block title %}About - Cyber Scallywags{% endblock %}
{% block content %}
<h1 style="color: #CC0084;">Cyber Scallywags mission</h1>
<p style="color: #00B1B3;">
    Cyber Scallywags is a lightweight, community-driven application that helps developers adopt clean coding practices effortlessly.

 In a world of algorithms built for profit, the Scallywags chose purpose.
        We're the dreamers and doers who live between the circuits — the coders, makers, and data-misfits who believe technology should serve communities, not control them.
      </p>
      
      <h3 style="color: #4006a7;" class="mb-3">Our Story</h3>
      <p style="color: #00B1B3;" class="mb-3">
        Born in the shadows of deserted coal fields, forgotten steel towns and weather-worn seaside streets, Cyber Scallywags stands for collective creativity, open knowledge, and tech with a conscience.
        We share skills, build projects that matter, and light up the digital night with ideas powered by kindness, not capital.
      </p>
      
      <h3 style="color: #4006a7;" class="mb-3">What We Do</h3>
      <p style="color: #00B1B3;" class="mb-4">
        Our code isn't just syntax — it's solidarity.
        From grassroots workshops to open-source missions, we're helping the next generation of Welsh innovators turn curiosity into capability.
        No gatekeepers. No jargon. Just connection, collaboration, and a bit of controlled chaos.
      </p>

<h3 style="color: #4006a7;" class="mb-3">How We Do it</h3>
      <p style="color: #00B1B3;" class="mb-4">
       How we do it is simple: by fostering a culture of collaboration and continuous learning.
        We provide opportunities for anyone who wants to play/learn/grow through accessible resources, mentorship programs, 
        and community events that empower individuals to grow their skills and contribute meaningfully to projects that make a difference.
      </p>

      
<p class="mt-3"><strong>Powered by Cyber Scallywags 🐺</strong></p>
{% endblock %}
