{% extends "base.html" %}
{% block title %}Support Us @ Cyber Scallywags{% endblock %}
{% block content %}
<h1 style="color: #CC0084;">Support us:</h1>
<p style="color: #C1E415;">This encourages teams and individuals to embrace best practices within specific development areas. It simplifies onboarding checks so you can focus on learning value.</p>

<div class="row mt-4">
  <div class="col-md-4">
    <!-- <img src="{{ url_for('static', path='images/ppc_thumb.png') }}" class="img-fluid rounded mb-2" alt="Practical Python Club"> -->
    <h4 style="color: #CC0084;">Buy us a coffee</h4>
    <p style="color: #00B1B3;">To Be Continued</p>
  </div>
  <!-- <div class="col-md-6">
    <img src="{{ url_for('static', path='images/gsc_thumb.png') }}" class="img-fluid rounded mb-2" alt="Graphinista Social Club">
   <h4 style="color: #CC0084;">Patreon</h4>
    <p style="color: #00B1B3;">To Be Continued</p>
  </div> -->
<!-- </div> -->

<!-- <div class="row mt-4"> -->
  <div class="col-md-4">
    <!-- <img src="{{ url_for('static', path='images/dmw_thumb.png') }}" class="img-fluid rounded mb-2" alt="Data Sourcery"> -->
    <h4 style="color: #CC0084;">Merchandise</h4>
    <p style="color: #00B1B3;">To Be Continued</p>
  </div>
  <div class="col-md-4">
    <!-- <img src="{{ url_for('static', path='images/pcn_thumb.png') }}" class="img-fluid rounded mb-2" alt="Python Code Nanny"> -->
    <h4 style="color: #CC0084;">Join the Pack</h4>
    <p style="color: #00B1B3;">To Be Continued</p>
  </div>
</div>
{% endblock %}
